# copy this to Makefile.custom to adjust some paths and options

ifeq ($(TARGET),device)
# arm-2010.09 toolchain
# TOOLCHAIN=/opt/toolchain/arm-2010.09/bin/arm-none-linux-gnueabi-

# arm-2009q1 toolchain (and older) need a workaround for fmaxl / fminl
#    see http://sourceware.org/bugzilla/show_bug.cgi?id=10103
CPPFLAGS += -Dfmaxl=fmax -Dfminl=fmin
TOOLCHAIN=/opt/toolchain/arm-2009q1/bin/arm-none-linux-gnueabi-
endif
