#error-text { color: red }

/* View Finder */

#view-finder {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	background: url(../images/view-finder.png) center top no-repeat;
	width: 100px;
	height: 100px;
}



.backPill
{
	position: absolute;
	top: 9px;
	left: -16px;
	height: 33px;
	width: 38px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/back-pill.png);
}
.backPill:active
{
	background-image: url(../images/back-pill-active.png);
}

body.palm-dark .backPill
{
	background-image: url(../images/back-pill-dark.png);
}
body.palm-dark .backPill:active
{
	background-image: url(../images/back-pill-dark-active.png);
}
